<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: head}"></head>
<body>
<script th:src="@{/js/template2-index.js}" defer></script>

<header th:replace="~{layout :: header}"></header>

<div class="container">
    <aside class="sidebar" th:replace="~{layout :: nav}"></aside>

    <main>
        <div class="table-container">
            <h3>
                <a th:href="@{/template2}"> Master Template 2 </a>
            </h3>

            <a class="black-button create-button" th:href="@{/template2/form}">
                Tambah
                <i class="fas fa-plus" aria-hidden="true"></i>
            </a>

            <div id="part1" class="form-part">
                <button type="button" class="toggle-btn" onclick="togglePart('part1')">Filter</button>
                <div class="form-content">
                    <form method="get" class="filter" th:action="@{/template2}">
                        <div class="filter-container">
                            <div class="filter-input" data-index="1">
                                <button class="filter-button add-filter" type="button"><i class="fas fa-plus"></i></button>
                                <select name="filter1" id="filter1" class="filter-select">
                                    <option value="">No Specific</option>
                                    <option value="kodeTemplate1">Template 1</option>
                                    <option value="kode">Kode</option>
                                    <option value="nama">Nama</option>
                                    <option value="tanggal">Tanggal</option>
                                    <option value="harga">Harga</option>
                                    <option value="diskon">Diskon</option>
                                    <option value="status">Status</option>
                                </select>

                                <div class="search-container-filter">
                                    <input type="text" id="searchText1" name="search1" class="search-filter" style="display:none;">

                                    <input type="date" id="searchDate1" name="search1" class="search-filter" style="display:none;">

                                    <div class="input-radio" id="status-container1" style="display:none;">
                                        <input type="radio" th:field="${search1}" name="search1" id="status-aktif1" value="true">
                                        <label for="status-aktif1">Aktif</label>
                                        <input type="radio" th:field="${search1}" name="search1" id="status-tidak-aktif1" value="false">
                                        <label for="status-tidak-aktif1">Tidak Aktif</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="filter-button search-button" type="submit">
                            Search <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Template 1</th>
                    <th>Kode</th>
                    <th>Nama</th>
                    <th>Tanggal</th>
                    <th>Harga</th>
                    <th>Diskon</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="template2:${template2Grid}" th:object="${template2}">
                    <td class="action">
                        <a class="action-button detail-button" th:href="@{/template2/detail(kode=*{kode})}">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> lihat
                        </a>
                    </td>

                    <td th:text="*{kodeTemplate1}"></td>
                    <td th:text="*{kode}"></td>
                    <td th:text="*{nama}"></td>
                    <td th:text="*{tanggal}"></td>
                    <td th:text="*{harga}"></td>
                    <td th:text="*{diskon}"></td>
                    <td th:text="*{status}"></td>
                </tr>
                <tr th:if="${#lists.size(template2Grid)}==0">
                    <td colspan="8">Data Tidak Ditemukan</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="pagination" th:if="${#lists.size(template2Grid)}!=0">
                            <div>
                                <a th:href="@{/template2(
                                        page=1,
                                        filter1=${filter1}, search1=${search1},
                                        filter2=${filter2}, search2=${search2},
                                        filter3=${filter3}, search3=${search3},
                                        filter4=${filter4}, search4=${search4},
                                        filter5=${filter5}, search5=${search5},
                                        filter6=${filter6}, search6=${search6},
                                        filter7=${filter7}, search7=${search7}
                                   )}"
                                   th:attr="onclick=${currentPage <= 1} ? 'event.preventDefault()' : ''">&laquo;</a>

                                <a th:href="@{/template2(
                                        page=${currentPage - 1},
                                        filter1=${filter1}, search1=${search1},
                                        filter2=${filter2}, search2=${search2},
                                        filter3=${filter3}, search3=${search3},
                                        filter4=${filter4}, search4=${search4},
                                        filter5=${filter5}, search5=${search5},
                                        filter6=${filter6}, search6=${search6},
                                        filter7=${filter7}, search7=${search7}
                                   )}"
                                   th:attr="onclick=${currentPage <= 1} ? 'event.preventDefault()' : ''">&lt;</a>

                                <span th:text="|Page ${currentPage} of ${totalPages}|"></span>

                                <a th:href="@{/template2(page=${currentPage + 1},filter1=${filter1}, search1=${search1},
                                        filter2=${filter2}, search2=${search2},
                                        filter3=${filter3}, search3=${search3},
                                        filter4=${filter4}, search4=${search4},
                                        filter5=${filter5}, search5=${search5},
                                        filter6=${filter6}, search6=${search6},
                                        filter7=${filter7}, search7=${search7}
                                   )}"
                                   th:attr="onclick=${currentPage >= totalPages} ? 'event.preventDefault()' : ''">&gt;</a>

                                <a th:href="@{/template2(page=${totalPages},filter1=${filter1}, search1=${search1},
                                        filter2=${filter2}, search2=${search2},
                                        filter3=${filter3}, search3=${search3},
                                        filter4=${filter4}, search4=${search4},
                                        filter5=${filter5}, search5=${search5},
                                        filter6=${filter6}, search6=${search6},
                                        filter7=${filter7}, search7=${search7}
                                   )}"
                                   th:attr="onclick=${currentPage >= totalPages} ? 'event.preventDefault()' : ''">&raquo;</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </main>
</div>
</body>
</html>
